# Pandas Basic Commands

## Series Object

A Series object basically accepts a list as its input where index will be 0,1,2....

In [1]:
import pandas as pd
print(pd.Series([2,3,4]))

0    2
1    3
2    4
dtype: int64

Its index can be changed as follows

In [2]:
data = pd.Series(['Rs.20','Rs.30'],index = ['Bananas','Apples'])
print(data)

Bananas    Rs.20
Apples     Rs.30
dtype: object

It can be initialised with its index predefined in alphabetical order by passing a simple dictionary as its input.

In [3]:
pd.data = ({'Bananas':'Rs.20','Apples':'Rs.30'})
pd.Series(data)

Bananas    Rs.20
Apples     Rs.30
dtype: object

## DataFrame Object

A DataFrame generally accepts a Dictionary of lists (i.e.,a Dictionary with each keyword as a list) or a list of dictionaries as its input.

##### Example:

This is a list of dictionaries

In [4]:
pd.DataFrame([{'Yes': 50,'No': 131},{'Yes': 21, 'No': 2}])

    No  Yes
0  131   50
1    2   21

This is a dictionary of lists

In [5]:
data = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
print(data)

   Yes   No
0   50  131
1   21    2

< DataFrame> .shape retuens the shape of a DataFrame

In [6]:
data.shape

(2, 2)

### Indexing and getting Required columns

In [7]:
data1 = pd.DataFrame({'Apples':[20,30],'Mangoes':[30,40]},index = [2017,2018])
data1

      Apples  Mangoes
2017      20       30
2018      30       40

In [8]:
pd.DataFrame({'Apples':[20,30],'Mangoes':[30,40]},index = [2017,2018],columns= ['Mangoes','Bananas','Apples'])

      Mangoes Bananas  Apples
2017       30     NaN      20
2018       40     NaN      30

In [9]:
data = pd.DataFrame({'Apples':[20,30],'Mangoes':[30,40]},index = [2017,2018],columns= ['Bananas','Apples'])
print(data)

     Bananas  Apples
2017     NaN      20
2018     NaN      30

In this way we can get the required columns only in a DataFrame.

In [10]:
data1.head()

      Apples  Mangoes
2017      20       30
2018      30       40

## Reading and writing common file formats

In [11]:
data1 = pd.read_excel("Book1.xlsx",sheet_name='Sheet1')
data1

    Subjects    P1   P2 EndSem  Total
0     Maths     50   50     50    100
1    Physics    45   47     49     95
2  Chemistry    50   50     49     99
3      These  are   not    my   marks

Reads the particular sheet of the excel file.

In [12]:
data2 = pd.read_csv("Book2.csv")
# data2 = pd.DataFrame(data2,columns=data2.columns[1:])
# data2
data2.to_csv('Book2.csv',index=False)
pd.read_csv("Book2.csv")
#Reads a csv(comma seperated values) file

    Subjects    P1   P2 EndSem  Total
0     Maths     50   50     50    100
1    Physics    45   47     49     95
2  Chemistry    50   50     49     99
3      These  are   not    my   marks

Adding an attribute index_col

data2.to_csv('Book2.csv',index=False)

data2.index = [0,1,2,"Note:"]

data2 = pd.DataFrame(data2,columns=data2.columns[1:])

In [13]:
# data2.index = [0,1,2,'Note: ']
# del data2
# data = pd.DataFrame(data2,index_col=0)
# data2.to_csv('Book2.csv',index=False)
# data2 = pd.read_csv('Book2.csv')
# data

This writes to a csv file

This writes to a csv file

###  Indexing, Slicing and Assigning Reference

#### Note: The index of the DataFrame can be changed in the following ways:

In [16]:
data = pd.read_csv("Book2.csv")
l = list(data.index)
l[3] = 'Note: '
data.index = l
data

         Subjects    P1   P2 EndSem  Total
0          Maths     50   50     50    100
1         Physics    45   47     49     95
2       Chemistry    50   50     49     99
Note:       These  are   not    my   marks


<li>This can also be done using --> data.index = [0,1,2,'Note: '] </li>

<li>A single element in a DataFrame index can't be changed because index of DataFrame a different datatype which is similar to list but isn't mutable like a list. </li>
<li>So, it has to reassigned totally like a tuple or take it another list by typecasting into list and assign it to index after changing the particular element in index.</li> 
Hello brother

In [17]:
data3 = data2
data3

    Subjects    P1   P2 EndSem  Total
0     Maths     50   50     50    100
1    Physics    45   47     49     95
2  Chemistry    50   50     49     99
3      These  are   not    my   marks